/* Font: Montserrat, Roboto */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

/* Base styles */
html {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    line-height: 1.6;
    color: #333;
    background-color: #fff;
}

/* Utility classes for the layout */
.container {
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    padding-right: 15px;
    padding-left: 15px;
}

.row {
    display: flex;
    flex-wrap: wrap;

}
/* Grid columns for large (lg) devices (default) */
.col-lg-1 { flex: 0 0 8.333333%; max-width: 8.333333%; }
.col-lg-2 { flex: 0 0 16.666667%; max-width: 16.666667%; }
.col-lg-3 { flex: 0 0 25%; max-width: 25%; }
.col-lg-4 { flex: 0 0 33.333333%; max-width: 33.333333%; }
.col-lg-5 { flex: 0 0 41.666667%; max-width: 41.666667%; }
.col-lg-6 { flex: 0 0 50%; max-width: 50%; }
.col-lg-7 { flex: 0 0 58.333333%; max-width: 58.333333%; }
.col-lg-8 { flex: 0 0 66.666667%; max-width: 66.666667%; }
.col-lg-9 { flex: 0 0 75%; max-width: 75%; }
.col-lg-10 { flex: 0 0 83.333333%; max-width: 83.333333%; }
.col-lg-11 { flex: 0 0 91.666667%; max-width: 91.666667%; }
.col-lg-12 { flex: 0 0 100%; max-width: 100%; }

/* Grid columns for medium (md) devices (max-width: 1199px) */
@media (max-width: 1199px) {
    .col-md-1 { flex: 0 0 8.333333%; max-width: 8.333333%; }
    .col-md-2 { flex: 0 0 16.666667%; max-width: 16.666667%; }
    .col-md-3 { flex: 0 0 25%; max-width: 25%; }
    .col-md-4 { flex: 0 0 33.333333%; max-width: 33.333333%; }
    .col-md-5 { flex: 0 0 41.666667%; max-width: 41.666667%; }
    .col-md-6 { flex: 0 0 50%; max-width: 50%; }
    .col-md-7 { flex: 0 0 58.333333%; max-width: 58.333333%; }
    .col-md-8 { flex: 0 0 66.666667%; max-width: 66.666667%; }
    .col-md-9 { flex: 0 0 75%; max-width: 75%; }
    .col-md-10 { flex: 0 0 83.333333%; max-width: 83.333333%; }
    .col-md-11 { flex: 0 0 91.666667%; max-width: 91.666667%; }
    .col-md-12 { flex: 0 0 100%; max-width: 100%; }
}

/* Grid columns for small (sm) devices (max-width: 699px) */
@media (max-width: 699px) {
    .col-sm-1 { flex: 0 0 8.333333%; max-width: 8.333333%; }
    .col-sm-2 { flex: 0 0 16.666667%; max-width: 16.666667%; }
    .col-sm-3 { flex: 0 0 25%; max-width: 25%; }
    .col-sm-4 { flex: 0 0 33.333333%; max-width: 33.333333%; }
    .col-sm-5 { flex: 0 0 41.666667%; max-width: 41.666667%; }
    .col-sm-6 { flex: 0 0 50%; max-width: 50%; }
    .col-sm-7 { flex: 0 0 58.333333%; max-width: 58.333333%; }
    .col-sm-8 { flex: 0 0 66.666667%; max-width: 66.666667%; }
    .col-sm-9 { flex: 0 0 75%; max-width: 75%; }
    .col-sm-10 { flex: 0 0 83.333333%; max-width: 83.333333%; }
    .col-sm-11 { flex: 0 0 91.666667%; max-width: 91.666667%; }
    .col-sm-12 { flex: 0 0 100%; max-width: 100%; }
}


/* Spacing utilities (margin and padding) */
.mt-1 { margin-top: 0.25rem; }
.mt-2 { margin-top: 0.5rem; }
.mt-3 { margin-top: 1rem; }
.mt-4 { margin-top: 1.5rem; }
.mt-5 { margin-top: 3rem; }

.mb-1 { margin-bottom: 0.25rem; }
.mb-2 { margin-bottom: 0.5rem; }
.mb-3 { margin-bottom: 1rem; }
.mb-4 { margin-bottom: 1.5rem; }
.mb-5 { margin-bottom: 3rem; }

.ml-1 { margin-left: 0.25rem; }
.ml-2 { margin-left: 0.5rem; }
.ml-3 { margin-left: 1rem; }
.ml-4 { margin-left: 1.5rem; }
.ml-5 { margin-left: 3rem; }

.mr-1 { margin-right: 0.25rem; }
.mr-2 { margin-right: 0.5rem; }
.mr-3 { margin-right: 1rem; }
.mr-4 { margin-right: 1.5rem; }
.mr-5 { margin-right: 3rem; }

.pt-1 { padding-top: 0.25rem; }
.pt-2 { padding-top: 0.5rem; }
.pt-3 { padding-top: 1rem; }
.pt-4 { padding-top: 1.5rem; }
.pt-5 { padding-top: 3rem; }

.pb-1 { padding-bottom: 0.25rem; }
.pb-2 { padding-bottom: 0.5rem; }
.pb-3 { padding-bottom: 1rem; }
.pb-4 { padding-bottom: 1.5rem; }
.pb-5 { padding-bottom: 3rem; }

.pl-1 { padding-left: 0.25rem; }
.pl-2 { padding-left: 0.5rem; }
.pl-3 { padding-left: 1rem; }
.pl-4 { padding-left: 1.5rem; }
.pl-5 { padding-left: 3rem; }

.pr-1 { padding-right: 0.25rem; }
.pr-2 { padding-right: 0.5rem; }
.pr-3 { padding-right: 1rem; }
.pr-4 { padding-right: 1.5rem; }
.pr-5 { padding-right: 3rem; }

/* Margin and Padding for all sides */
.m-1 { margin: 0.25rem; }
.m-2 { margin: 0.5rem; }
.m-3 { margin: 1rem; }
.m-4 { margin: 1.5rem; }
.m-5 { margin: 3rem; }

.p-1 { padding: 0.25rem; }
.p-2 { padding: 0.5rem; }
.p-3 { padding: 1rem; }
.p-4 { padding: 1.5rem; }
.p-5 { padding: 3rem; }

/* Auto margin for centering */
.mx-auto { margin-left: auto; margin-right: auto; }
.my-auto { margin-top: auto; margin-bottom: auto; }

/* Text utilities */
.text-center { text-align: center; }
.text-left { text-align: left; }
.text-right { text-align: right; }

/* Display utilities */
.d-block { display: block; }
.d-none { display: none; }
.d-flex { display: flex; }
.d-inline-block { display: inline-block; }
text-center { text-align: center; }
/* Flex utilities */
.flex-column { flex-direction: column; }
.justify-content-center { justify-content: center; }
.align-items-center { align-items: center; }

/* Visibility utilities */
.visible { visibility: visible; }
.invisible { visibility: hidden; }

/* Responsive visibility classes */

.hidden-lg { display: none !important; }

/* For small devices (less than 699px) */
@media (max-width: 698px) {
    .hidden-sm { display: none !important; }
}

/* For medium devices (699px to 1199px) */
@media (min-width: 699px) and (max-width: 1199px) {
    .hidden-md { display: none !important; }
}

/* For large devices (1200px and up) */
@media (min-width: 1200px) {
    .hidden-lg { display: none !important; }
}



/* Base styles for the container)and (header */
.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
}
.header-logo img {
    height: 60px;
    width: auto; /* Keeps the aspect ratio of the image */
}
.header-utility {
    display: flex;
    align-items: center;
}
header a {
    margin-right: 15px;
    text-decoration: none;
    color: #333;
    font-family: 'Arial', sans-serif; /* Ensures consistent font for all links */
}
.dropdown {
    position: relative;
    display: inline-block;
}
.dropdown-toggle {
    background-color: white;
    padding: 6px 10px;
    border: 2px solid white;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}
.dropdown-toggle i {
    margin-left: 5px;
}
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}
.dropdown-content a:hover {
    background-color: #f1f1f1;
}
.dropdown:hover .dropdown-content {
    display: block;
}
/*  mega menu */
/* Mega Menu Styles */
.mega-menu {
    width: 100%; /* Full width */
    background-color: #007bff; /* Background color for the mega menu */
}
.mega-menu .menu {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center; /* Center the menu items */
}
.mega-menu .menu > li {
    position: relative;
    flex-grow: 1; /* Each menu item takes equal space */
    text-align: center; /* Center align the menu item text */
}
.mega-menu a {
    text-decoration: none;
    color: white; /* Text color */
    padding: 15px 10px;
    display: block;
    transition: background-color 0.3s; /* Transition for hover effect */
}
.mega-menu a:hover, .mega-menu .menu > li:hover > a {
    background-color: #0056b3; /* Hover background color */
}
.mega-menu .mega-content {
    display: none;
    position: absolute;
    left: 0;
    right: 0;
    background-color: #fff;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
    text-align: left;
    z-index: 100;
}
.mega-menu .menu > li:hover .mega-content {
    display: block;
}
.mega-menu .mega-content a {
    color: #333;
    padding: 5px 10px;
    display: block;
}
.mega-menu .mega-content a:hover {
    background-color: #f8f9fa; /* Hover color for sub-menu items */
}
.mega-menu .menu i {
    margin-right: 8px;
}
.mega-menu .menu > li > a {
    display: inline-block; /* Allows the transform property to work */
    transition: transform 0.3s ease-in-out; /* Smooth transition for zoom effect */
}

.mega-menu .menu > li:hover > a {
    transform: scale(1.05); /* Scale the link to 110% of its size on hover */
}
/********** carousel **********/
/* Carousel container */
.carousel {
    width: 100%;
    overflow: hidden;
    position: relative;
}
/* Container for all slides */
.carousel-slides {
    display: flex;
    width: 300%; /* Since there are 3 slides */
    animation: slide 12s infinite;
}
/* Individual slide */
.carousel-slide {
    width: 33.3333%; /* Each slide takes up a third of the .carousel-slides width */
    flex-shrink: 0;
}
/* Style for the image inside each slide */
.carousel-slide img {
    width: 100%;
    height: auto;
    display: block;
    object-fit: cover;
}
/* Keyframes for the sliding animation */
@keyframes slide {
    0%, 10%, 33.33% {
        transform: translateX(0);
    }
    /* First slide */
    36.67%, 43.33%, 66.66% {
        transform: translateX(-33.3333%);
    }
    /* Second slide */
    70%, 76.67%, 100% {
        transform: translateX(-66.6666%);
    }
    /* Third slide */
}
/******************* latest-achievements *******************/
.row-achievements {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between; /* Space distributed evenly between items */
    margin-right: -15px;
    margin-left: -15px;
}
.latest-achievements .achievement {
    background: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 465px;
    text-align: left;
    color: inherit;
    text-decoration: none;
    border-radius: 5px; /* Optional: rounded corners */
}
.latest-achievements .achievement img {
    width: 100%;
    height: 246px;
    object-fit: cover;
    border-top-left-radius: 5px; /* Match border-radius of the card */
    border-top-right-radius: 5px;
}
.achievement {
    padding: 15px;
}
.latest-achievements h2 {
    display: flex;
    justify-content: center; /* Center the title)and (icon */
    align-items: center; /* Align icon)and (text vertically */
    gap: 10px; /* Spacing between the icon)and (the text */
}
.latest-achievements h2 i {
    font-size: 1.5rem; /* Icon size, adjust as needed */
    color: #007bff; /* Icon color, adjust based on your design */
}
.achievement img {
    transition: transform 0.3s ease-in-out; /* Smooth transition for zoom effect */
    display: block; /* To remove any extra space below the image */
}

.achievement:hover img {
    transform: scale(1.1); /* Scale the image to 110% of its size on hover */
}
/* Responsive adjustments */
@media (min-width: 700px)and (max-width: 1199px) {
    .achievement-content h3 {
        text-align: center;
        min-height: 60px;
    }
    .latest-achievements .achievement {
        height: auto;
    }
}
@media (max-width: 700px) {
    .latest-achievements .achievement img {
        object-fit: scale-down;
    }
}
/******************* latest-news *******************/
.news-articles-container .container {
    padding: 0;
}
.news-articles-container h2 {
    font-size: 1.5em;
    color: #333;
    margin-bottom: 20px;
}
.news-item, .article-item {
    display: flex;
    margin-bottom: 20px;
    border-bottom: 1px solid #ddd; /* Optional separator */
}
.news-item img, .article-item img {
    width: 55px; /* Fixed width */
    height: 55px; /* Fixed height */
    object-fit: cover; /* Ensures image covers the area */
    margin-right: 15px;
}
.news-item a , .article-item a {
    text-decoration: none;
    color: #333333;
}
.news-content h3, .article-content h3 {
    font-size: 14px;
    color: #007bff;
    margin-top: 3px; /* Removes any top margin from the h3 */
    margin-bottom: 3px;
}
.news-content, .article-content {
    height: 69px;
}
.news-content p, .article-content p {
    font-size: 0.9em;
    color: #666;
    margin-top: -6px;
}
.read-more {
    font-size: 0.9em;
    color: #007bff;
    text-decoration: none;
    margin-top: 10px;
    display: inline-block;
}
.news-articles-container h2 {
    font-size: 1.5em;
    color: #333;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    gap: 10px;
    border-bottom: 1px dashed darkblue;
}
.news-articles-container h2 i {
    color: #007bff; /* Sets the icon color to blue */
}
@media (min-width: 700px)and (max-width: 1199px) {
    .news-item, .article-item {
        flex-direction: column;
        padding: 10px;
    }
    .news-item img, .article-item img {
        width: 100%;
        height: auto;
        margin-bottom: 15px;
    }
    .news-articles-container h2{
        padding: 10px;
    }
}
/* Responsive adjustments */
@media (max-width: 700px  ) {
    .news-item, .article-item {
        flex-direction: column;
        padding: 10px;
    }
    .news-articles-container h2 {
        padding: 10px;
    }
    .news-item img, .article-item img {
        width: 100%;
        height: auto;
        margin-bottom: 15px;
    }
}
/**************** video ****************/
.video-introduction {
    padding: 20px 0;
}
.video-container {
    position: relative;
    height: 400px;
}
.video-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 400px;
}
.video-description {
    padding: 20px;
    background: #f9f9f9; /* Light background for the text area */
    border-left: 1px solid #ddd; /* Adds a subtle border for definition */
    height: 400px;
}
.video-description h3 {
    color: #0056b3; /* Color matching the university's theme */
    margin-bottom: 10px;
}
.video-description p {
    color: #333;
    line-height: 1.6;
}
@media (min-width: 700px)and (max-width: 1199px) {
    .video-description {
        height: auto;
    }
}
@media (max-width: 700px) {
    .video-description {
        height: auto;
    }
}
/*********** courses ***********/
.courses-section {
    padding: 20px 0;
}

.tabbed {
    overflow-x: hidden;
    margin: 32px 0;
    padding-bottom: 16px;
    border-bottom: 1px solid #ccc;
}
.tabbed [type="radio"] {
    /* hiding the inputs */
    display: none;
}
.tabs {
    display: flex;
    align-items: stretch;
    list-style: none;
    padding: 0;
    border-bottom: 1px solid #ccc;
}
.tab > label {
    display: block;
    margin-bottom: -1px;
    padding: 12px 15px;
    border: 1px solid #ccc;
    font-size: 12px;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 1px;
    cursor: pointer;
    transition: all 0.3s;
    background: #007bff;
    color: white;
}
.tab:hover label {
    border-top-color: #333;
    color: #333;
}
.tab-content {
    display: none;
    color: #777;
    height: 250px;
    overflow-y: auto; /* Changed to auto for vertical scroll */
}
/* As we cannot replace the numbers with variables or calls to element properties, the number of this selector parts is our tab count limit */
.tabbed [type="radio"]:nth-of-type(1):checked ~ .tabs .tab:nth-of-type(1) label,
.tabbed [type="radio"]:nth-of-type(2):checked ~ .tabs .tab:nth-of-type(2) label,
.tabbed [type="radio"]:nth-of-type(3):checked ~ .tabs .tab:nth-of-type(3) label,
.tabbed [type="radio"]:nth-of-type(4):checked ~ .tabs .tab:nth-of-type(4) label,
.tabbed [type="radio"]:nth-of-type(5):checked ~ .tabs .tab:nth-of-type(5) label {
    border-bottom-color: #fff;
    border-top-color: #B721FF;
    background: #fff;
    color: #222;
}
.tabbed [type="radio"]:nth-of-type(1):checked ~ .tab-content:nth-of-type(1),
.tabbed [type="radio"]:nth-of-type(2):checked ~ .tab-content:nth-of-type(2),
.tabbed [type="radio"]:nth-of-type(3):checked ~ .tab-content:nth-of-type(3),
.tabbed [type="radio"]:nth-of-type(4):checked ~ .tab-content:nth-of-type(4) {
    display: block;
}
/************** statistics **************/
.statistics-counter {
    background-color: #f8f8f8; /* Light gray background */
    padding: 20px 0;
}
.stat-item {
    text-align: center;
    padding: 15px;
}
.stat-item .stat-icon {
    font-size: 2.5rem; /* Large icon size */
    color: #0056b3; /* Icon color, adjust as needed */
    margin-bottom: 10px;
}
.stat-item h3 {
    font-size: 1.5rem; /* Large number size */
    color: #333; /* Number color */
    margin-bottom: 5px;
}
.stat-item p {
    font-size: 1rem;
    color: #666; /* Text color */
}
/************** corporate-partners **************/
.corporate-partners {
    background-color: #ffffff; /* Light gray background */
    padding: 20px 0;
}
.corporate-partners h2 {
    text-align: center;
    margin-bottom: 30px;
    color: #0056b3; /* University theme color */
}
.corporate-partners .partner {
    text-align: center;
    margin-bottom: 15px; /* Space between partner logos */
}
.corporate-partners .partner img {
    width: 150px; /* Ensures the image is responsive)and (fits its container */
    height: 150px; /* Maintain aspect ratio */
    opacity: 0.8; /* Slightly faded look */
    filter: grayscale(100%); /* Makes the image grayscale */
    transition: filter 0.3s ease; /* Smooth transition for hover effect */
}
.corporate-partners .partner img:hover {
    filter: grayscale(0); /* Restores the image to full color on hover */
}
.corporate-partners .partner img:hover {
    opacity: 1; /* Full opacity on hover */
}
@media (min-width: 700px)and (max-width: 1199px) {
    .corporate-partners .partner img {
        width: 120px;
        height: auto;
    }
    .corporate-partners .row {
        justify-content: center;
    }
}
@media (max-width: 700px) {
    .corporate-partners .partner img {
        width: 90px;
        height: auto;
    }
    .corporate-partners .row {
        justify-content: center;
    }
}
/*************** footer ***************/
.site-footer {
    background-color: #081537;
    color: #fff;
    padding: 20px 0;
}
.site-footer h4 {
    color: #f8f8f8;
}
.site-footer ul {
    list-style: none;
    padding: 0;
}
.site-footer ul li, .site-footer ul li a {
    color: #ccc;
    text-decoration: none;
    line-height: 50px;
}
.site-footer ul li a:hover {
    text-decoration: underline;
}
.footer-contact-info, .footer-useful-links {
    margin-bottom: 20px;
}
.footer-message-form form {
    display: flex;
    flex-direction: column;
}
.footer-message-form input, .footer-message-form textarea {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
}
.footer-message-form button {
    padding: 10px;
    background-color: #0066cc;
    border: none;
    color: white;
    cursor: pointer;
}
.footer-message-form button:hover {
    background-color: #0056b3;
}
footer .copy{
    text-align: center;
    color: #ccc;
    font-size: 0.9em;
    margin-top: 20px;
}
footer .copy a{
    color: #ccc;
    text-decoration: none;
}
/*************************************************/
h1, h2, h3, h4, h5, h6 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
}
h1{
    display: inline-block;
    vertical-align: top;
    font-size: 20px;
    color: #0056b3;
}
iframe {
    border: none;
}




